---
layout: layouts/base.njk
title: Documentation
permalink: /docs/
---
<div class="o-container u-py-40">
  <h1 class="c-heading">Documentation</h1>
  <p class="u-text-lead">Welcome to the MIND language specification.</p>
  
  <div class="c-card u-p-24 u-mt-24">
    <h2 class="c-heading c-heading--4">Available Sections</h2>
    <ul class="c-list">
      <li><a href="/docs/intro/">Introduction</a></li>
      <li><a href="/docs/types/">Type System</a></li>
      <li><a href="/docs/tensors/">Tensors</a></li>
    </ul>
  </div>
</div>
