@forward 'config';
@forward 'layout';
@forward 'section';
@forward 'component';

@use 'sprucecss/scss/spruce' as *;

:root {
  --spruce-border-radius: 0.5rem;
}

:root {
  @include set-css-variable((
    --section-gap: clamp(5rem, 7vw, 7rem),
    --container-gap: spacer-clamp('m', 'l'),
    --max-content-inline-size: 70rem,
    --box-shadow: 0 0.75rem 1.25rem hsl(0 0% 0% / 5%)
  ));
}

// Global link styles
a, a:hover, .prose a {
    text-decoration: none !important;
}

// Global button styles
button, .btn, a[class*="bg-"] {
    border-radius: 0.5rem !important; /* Overrides rounded-full */
}
