{% for section in docs_navigation %}
<div class="sidebar-section">
  <h4 class="sidebar-section__title">{{ section.title }}</h4>
  <nav class="sidebar-section__navigation">
    <ul>
      {% for item in section.items %}
      <li>
        <a href="{{ item.href }}" {% if page.url == item.href %}aria-current="page"{% endif %}>
          {{ item.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>
{% endfor %}
